---
layout: page
title: About Me
description: This is what I do.
background: '/img/about-bg.jpg'
---

<p></p>

<p></p>

<p class="mb-5">An innovative and passionate IT specialist and system administrator with a wide range of expertise in selecting and setting up diverse technical equipment, windows system, and server administration.</p>
